.wrapper {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/img/wall1.jpg");
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: -25px;
  color: white;
  text-shadow: 5px 5px var(--shadow-color);

  h1 {
    font-size: clamp(2rem, 1.273rem + 3.64vw, 4rem);
  }
  h2 {
    font-size: clamp(1.5rem, 0.955rem + 2.73vw, 3rem);
  }
}

.down {
  position: absolute;
  bottom: 15px;
  left: auto;
  right: auto;

  .arrow {
    transform: scale(3);
    color: white;
    text-shadow: 2px 2px var(--shadow-color);
  }
}
