.wrapper {
  display: grid;
  height: calc(100dvh - var(--menu-height) - var(--footer-height));
  grid-template-columns: 2fr 5fr 4fr;
  gap: var(--padding);
  color: white;
  padding-top: 15px;
}

@media screen and (max-width: 800px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    overflow-y: auto;
    padding-left: var(--padding);
    padding-right: var(--padding);

    .gallery {
      grid-column: 1/-1;
    }
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    grid-template-columns: 1fr;
    overflow-y: auto;
    padding-left: var(--padding);
    padding-right: var(--padding);
  }
}
