.wrapper {
  display: grid;
  height: calc(100dvh - var(--menu-height) - var(--footer-height));
  grid-template-columns: 2fr 5fr 4fr;
  background-image: url("/assets/img/wall2.jpg");
  color: white;
}
