.wrapper {
  position: absolute;
  bottom: 0;
  height: var(--footer-height);
  background-color: black;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    margin-left: var(--margin);
  }

  .right {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-right: var(--margin);
  }

  a {
    text-decoration: none;
    color: white;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .left,
    .right {
      margin: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }
    .right {
      margin-bottom: 5px;
    }
  }
}
