.wrapper {
  height: var(--footer-height);
  background-color: black;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    margin-left: var(--margin);
  }

  .right {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-right: var(--margin);
  }

  a {
    text-decoration: none;
    color: white;
  }
}
