<div class="wrapper">
  <div class="gallery">
    <img
      class="pointer"
      *ngFor="let picture of gallery; let i = index"
      src="{{ pathThumbnails + picture.name }}"
      alt=""
      (click)="openPicture(i)"
    />
  </div>
</div>

<div class="dialog-container" [hidden]="!show">
  <div class="dialog-item">
    <!-- <div class="description" [innerHTML]="currentDescription"></div> -->
    <img class="fullscreen" [src]="currentPicture" alt="" />
  </div>
  <button mat-fab color="primary" class="prev" (click)="prevPicture()">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <button mat-fab color="primary" class="next" (click)="nextPicture()">
    <mat-icon>chevron_right</mat-icon>
  </button>
  <button mat-fab color="primary" class="close" (click)="closePicture()">
    <mat-icon>close</mat-icon>
  </button>
</div>
