.wrapper {
  height: calc(100dvh - var(--menu-height) - var(--footer-height));
  overflow-y: auto;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;

  img {
    height: auto;
    width: 95%;
  }
}

.dialog-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;
  background-color: rgba(77, 77, 77, 0.897);
  z-index: 9000;

  .dialog-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;

    .fullscreen {
      object-fit: contain;
      height: 90dvh;
      width: 90dvw;
    }
  }

  .prev {
    position: absolute;
    left: 15px;
    top: 50%;
  }

  .next {
    position: absolute;
    right: 15px;
    top: 50%;
  }

  .close {
    position: absolute;
    bottom: 15px;
    left: 50%;
  }
}

@media screen and (max-width: 800px) {
  .wrapper {
    width: 95dvw;
  }
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}
