.wrapper {
  padding: 15px;
  width: auto;
  height: calc(100dvh - var(--menu-height) - var(--footer-height));
  overflow-y: auto;
  color: white;

  a {
    text-decoration: none;
    color: white;
  }
}

@media screen and (max-width: 800px) {
  .wrapper {
    grid-template-columns: 1fr;
    overflow-y: auto;
    padding-left: var(--padding);
    padding-right: var(--padding);
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    grid-template-columns: 1fr;
    overflow-y: auto;
    padding-left: var(--padding);
    padding-right: var(--padding);
  }
}
