<div class="wrapper">
  <h2>Serviceleistungen:</h2>
  <ul>
    <li>Fliesenarbeiten</li>
    <li>Dämmung</li>
    <li>Sanierung</li>
    <li>Trockenbauarbeiten</li>
    <li>Abbruch / Entsorgungsfahrten</li>
    <li>Natursteinarbeiten</li>
    <li>Dienstleistungen Rund um`s Haus</li>
    <li>Vermittlung von Bauleistungen</li>
    <li>Immobilienservice</li>
    <li>
      Begleitung / Beratung bei Immobilienbesichtigungen (Keine Gutachten!)
    </li>
    <li>uvm.</li>
  </ul>
  War die gewünschte Leistung nicht dabei? <br />
  Kontaktieren Sie mich gerne und wir schauen, ob ich Ihnen weiterhelfen kann.
</div>
