.wrapper {
  padding: 15px;
  max-width: 100dvw;
  height: calc(100dvh - var(--menu-height) - var(--footer-height));
  overflow-y: auto;
  color: white;

  a {
    text-decoration: none;
    color: white;
  }
}
