/* You can add global styles to this file, and also import other style files */
////////////////////////////////////////////////////////////////////
/// ELEMENTS
////////////////////////////////////////////////////////////////////
html {
  scroll-behavior: smooth;
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-color: #141d2f;
  // font-family: "PT Sans", "Open Sans", sans-serif;
  font-size: clamp(1rem, 0.933rem + 0.36vw, 1.2rem);
  color: white;
}

////////////////////////////////////////////////////////////////////
/// VARIABLES
////////////////////////////////////////////////////////////////////
:root {
  --main-bg-color: #558abb;
  --main-bg-color-hover: #3281ca;
  --shadow-color: #558abb;
  --margin: 50px;
}

////////////////////////////////////////////////////////////////////
/// CLASSES
////////////////////////////////////////////////////////////////////
.pointer {
  cursor: pointer;
}

.wrapper {
  width: 100%;
}
