////////////////////////////////////////////////////////////////////
/// ELEMENTS
////////////////////////////////////////////////////////////////////
html {
  scroll-behavior: smooth;
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-color: var(--main-bg-color);
  font-family: "Sigmar", sans-serif;
  font-size: clamp(1rem, 0.933rem + 0.36vw, 1.2rem) !important;
  color: white;
  overflow: hidden;
}

////////////////////////////////////////////////////////////////////
/// VARIABLES
////////////////////////////////////////////////////////////////////
:root {
  --main-bg-color: #558abb;
  --main-bg-color-hover: #3281ca;
  --shadow-color: #558abb;
  --margin: 80px;
  --menu-height: 100px;
  --footer-height: 130px;
}

////////////////////////////////////////////////////////////////////
/// CLASSES
////////////////////////////////////////////////////////////////////
.pointer {
  cursor: pointer;
}

.wrapper {
  width: 100%;
}

.d-none {
  display: none;
}
////////////////////////////////////////////////////////////////////
/// SCROLLBAR
////////////////////////////////////////////////////////////////////
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: var(--main-bg-color-hover);
  border: 0px none var(--main-bg-color-hover);
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--main-bg-color);
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
